@page 
@using BlazorAzureAdLogin.Areas.MicrosoftIdentity.Pages.Account
@model AccessDeniedModel

<h1>Access Denied</h1>
<p>You do not have the required role or permission to view this page.</p>
<p>Please contact the administrator if you believe this is an error.</p>