@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView>
    <Authorized>
        <h3>Access Denied</h3>
        <p>You are signed in but do not have permission to view this page.</p>
    </Authorized>
    <NotAuthorized>
        @code {
            protected override async Task OnInitializedAsync()
            {
                var authState = await AuthProvider.GetAuthenticationStateAsync();
                var user = authState.User;

                if (!user.Identity?.IsAuthenticated ?? true)
                {
                    // Redirect to Azure AD login
                    var returnUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
                    Navigation.NavigateTo($"MicrosoftIdentity/Account/SignIn?returnUrl=/{returnUrl}", true);
                }
            }
        }
    </NotAuthorized>
</AuthorizeView>
