@page "/unauthorized"

<div class="file-upload-area">
    <h2>Access Denied! &#x26A0</h2>
    <h5>You don't have sufficient permissions to access this feature. Please reach out or raise a ticket to the admin team.</h5>
</div>

@code {

}
