@page "/Client-userinfo"

@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<h1>Implicit grant : Id token claims</h1>
<h3>User Claims</h3>

@if (claims == null)
{
    <p>Loading claims...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<Claim>? claims;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            claims = user.Claims;
        }
    }
}
